// Define variables for your color scheme

// For example:
$red: #961B1B;
$blue: #173753;
$light-blue: #C4E3FF;
$yellow: #FDB631;
$orange: #E25B36;
$green: #32B796;
$gray: #FFFCF2;
$light-gray: #F4F4F4;
